<section class="min-h-screen flex flex-col bg-gradient-to-r from-cyan-600 to-blue-900">
    <!-- Encabezado -->
    <header class="bg-white shadow w-full py-4 px-8 flex justify-end">
      <div class="flex items-center space-x-4">
        <!-- <img src="" alt="Perfil" class="w-10 h-10 rounded-full"> -->
        <button (click)="logout()" class="text-red-500 hover:text-red-700 font-semibold">Finalizar sesión</button>
      </div>
    </header>
  
    <!-- Contenido principal -->
    <div class="flex flex-col lg:flex-row justify-center items-center flex-grow">

      <!-- Columna de Formularios -->
      <div class="bg-white rounded-lg shadow-lg p-8 m-4 w-auto lg:w-1/3">
        <h2 class="text-xl font-bold mb-6 text-center">Crear una Sala</h2>
        <div class="grid grid-cols gap-6 ">
          <!-- Formulario Crear Sala -->
          <form (ngSubmit)="onCreateRoom()" class="space-y-4">
            <div>
              <label for="roomName" class="block text-sm font-medium text-gray-700">Nombre de la Sala</label>
              <input type="text" id="roomName" name="roomName" [(ngModel)]="roomName" placeholder="Nombre de la sala" class="mt-1 block w-full p-2.5 border border-gray-300 rounded-md">
            </div>
            <button type="submit" class="w-full bg-slate-700 text-white font-medium rounded-lg py-2.5 text-center hover:bg-slate-800 focus:outline-none">
              Crear Sala
            </button>
          </form>
        </div>
      </div>
  
      <!-- Columna de Formularios -->
      <div class="bg-white rounded-lg shadow-lg p-8 m-4 w-auto lg:w-1/3">
        <h2 class="text-xl font-bold mb-6 text-center">Ingresar a una Sala</h2>
        <div class="grid grid-cols gap-6">
          <!-- Formulario Ingresar a la Sala -->
          <form (ngSubmit)="onJoinRoom()" class="space-y-4">
            <div>
              <label for="roomCode" class="block text-sm font-medium text-gray-700">Código de la Sala</label>
              <input type="text" id="roomCode" name="roomCode" [(ngModel)]="roomCode" placeholder="Código de la sala" class="mt-1 block w-full p-2.5 border border-gray-300 rounded-md">
            </div>
            <button type="submit" class="w-full bg-emerald-600 text-white font-medium rounded-lg py-2.5 text-center hover:bg-green-700 focus:outline-none">
              Ingresar a Sala
            </button>
          </form>
        </div>
      </div>
    </div>
</section>

