<div>
  <div #diagramDiv style="width:100%; height:600px; background-color: #f0f0f0;"></div>

  <div>
    <h3>Agregar Clase</h3>
    <button (click)="addClass()">Agregar Clase</button>

    <h3>Agregar Atributo</h3>
    <input [(ngModel)]="attributeName" placeholder="Nombre del Atributo" />
    <select [(ngModel)]="attributeReturnType">
      <option value="void">void</option>
      <option value="integer">Integer</option>
      <option value="string">String</option>
      <option value="float">Float</option>
    </select>
    <button (click)="addAttribute()">Agregar Atributo</button>

    <h3>Agregar Método</h3>
    <input [(ngModel)]="methodName" placeholder="Nombre del Método" />
    <select [(ngModel)]="methodReturnType">
      <option value="void">void</option>
      <option value="integer">Integer</option>
      <option value="string">String</option>
      <option value="float">Float</option>
    </select>
    <button (click)="addMethod()">Agregar Método</button>

    <h3>Control de Relaciones</h3>
    <label for="fromClass">De (Clase):</label>
    <select [(ngModel)]="fromClassId" *ngIf="diagram && diagram.model">
      <option *ngFor="let node of diagram.model.nodeDataArray" [value]="node['key']">
        {{ node['name'] }}
      </option>
    </select>

    <!-- Selección de la clase de destino -->
    <label for="toClass">A (Clase):</label>
    <select [(ngModel)]="toClassId" *ngIf="diagram && diagram.model">
      <option *ngFor="let node of diagram.model.nodeDataArray" [value]="node['key']">
        {{ node['name'] }}
      </option>
    </select>

    <h3>Control de Relaciones</h3>
    <label for="relationType">Tipo de Relación:</label>
    <select id="relationType" [(ngModel)]="selectedRelationType">
      <option value="association">Asociación</option>
      <option value="directedAssociation">Asociación Dirigida</option>
      <option value="aggregation">Agregación</option>
      <option value="composition">Composición</option>
      <option value="dependency">Dependencia</option>
      <option value="generalization">Generalización</option>
      <option value="interfaceRealization">Realización de Interfaz</option>
    </select>
    <button (click)="addRelation()">Agregar Relación</button>
  </div>
</div>
